/*首页*/
*{
	padding: 0;
	
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
	
}
body{
	margin: 0;
}
.nav{
	background-color:#191919;
	opacity:0.6;
	height:120px;
	overflow: hidden;
	position: fixed;
	top:0;
	left: 0;
	z-index: 999;
	width: 100%;
}
.nav-box{
	position: relative;
	width: 100%;
	margin: 0;
}
.nav-box div{
   display:inline-block;	
}
.nav-box .logo{
  
	width: 35%;
	padding-top: 20px;
	
}
.logo img{
	width:250px;
	padding-left:55%;
	padding-top:5px; 
}
.nav-box .right{
	position: absolute;
	top: 40px;
	
	width:64%;
	margin-top:-50px;
}
.nav-box .right ul{
	padding-left: 150px\9;
   
    
}
#menu li:nth-child(1){
	margin-left:150px;
}
#menu li{
	padding-top: 20px;
	color: #FFFFFF;
	width:14%;
	text-align:center;
	font-size:21px;
	display:inline-block;
}
#menu li a{
	text-align: center;
}
#menu li a div{
	
	line-height:50px;
}
 .right ul li a img{
 	
	margin:0 auto;
	width:13px;
	height:11px;
	z-index:9999;
	border: none;
	display: none;
	
}
.right .active img{
	display: block;
}
.right li:hover li img{
	display: block;
}
/* ========== */
/* = 首页 = */
/* ========== */

.page1{
	border:1px solid rgba(255,255,255,0.1);
	height:800px;
	background:url(../images/step1/bj1.png) no-repeat 0 0;
	background-size:100%;
	
}
.page1_tit1{
	padding-top: 230px;
	text-align: center;
	font-weight:400;
	
}
.page1_tit1 a{
	border-bottom:3px solid #FFFFFF;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-size:5.2em;
}
.page1_tit2{
	text-align: center;
	width:35%;
	margin:50px auto;	
	background-color:#DA9C89;
}
.page1_tit2 a{
	display: inline-block;
	
	padding-top:7px ;
	padding-bottom:7px ;
	color: #FFFFFF;
	font-size:2.4em;
	
}
/* ========== */
/* = 单车 = */
/* ========== */
.page2{
	margin-top:20px;
	height: 600px;
	
}
.page2_title{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size:32px;
	color: #611D40;
	line-height:72px;
	border-bottom: 2px solid #F8A157;
}
.intro-news{
	padding-left:12%;
	
}
.intro-news dl{
	margin-top:100px;
	text-align: center;
	display: inline-block;
	
	vertical-align: top;
	width: 20%;
}
.intro-news dl .strong{
	font-size:1.5em;
	font-weight: bold;
}
.intro-news dl dd{
	line-height: 45px;
}
.page3_img{
	width: 100%;
}
.page3_img img{
	display: block;
	
	margin:0 auto;
}
.page4{
  padding-top: 250px;
  overflow: hidden;
  width:100%;
  height:670px;
  text-align: center;
  background-color:#FF8400;
}

.introduce div{
	text-align: center;
	}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .nav{
    background-color:#191919;
    filter:Alpha(opacity=60);
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
   
    
  }
}